# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches
.cache/
*.log

# Virtual environment
venv/
.venv/
env/
.env/

# IDEs
.idea/
.vscode/

# Test outputs
/target/
!/target/allure-results/

# Pytest
.pytest_cache/

# System files
.DS_Store
Thumbs.db

# Environment files
.env
.env.*

# Compiled code
*.so
*.pyd
*.dll
